# https://github.com/github/gitignore/blob/master/Python.gitignore
__pycache__/

.pydevproject
*.pyc
*.pyd
*.so
**/*.pickle
**/*.pkl
**/darts_logs
*.settings
*.ipynb
.ipynb_checkpoints
_build
build/
dist/
lightning_logs/
examples/weights
projects/

*.pkl
*.hd5
*.csv

.env
.vim
.nvimrc
.vscode

custom/data/**
custom_bak/**
*.log
qlib/VERSION.txt
qlib/data/_libs/expanding.cpp
qlib/data/_libs/rolling.cpp
examples/estimator/estimator_example/

*.egg-info/


# special software
mlruns/

tags

.pytest_cache/
.vscode/

*.swp

./pretrain
/projects.zip
